<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Firegento_TargetedContent::location" title="Preferred Locations" translate="title" module="Firegento_TargetedContent" sortOrder="50" parent="Magento_Backend::content_elements" action="firgento_targetedcontent/location" resource="Firegento_TargetedContent::location"/>
    </menu>
</config>
